OPENAI_API_KEY="sk-123"
AWS_BEDROCK_PROFILE_NAME=default
MODEL_PROVIDER=choose "openai" OR "bedrock"
MODEL_NAME=choose between "amazon.titan-text-express-v1" or "gpt-4"
AGENT=choose between "simple", "agent_keeping_history" or "agent_developer"
NO_OF_DOCUMENTS_TO_PROCESS=number of documents to process from train.json file
VERBOSE=False